---
const menuItems = [
  { label: "Kanban Board", href: "#kanban-board" },
  { label: "Map UI Visualization", href: "#map-ui" },
  {
    label: "Inventory Management System",
    href: "#inventory-management-system",
  },
  {
    label: "Framer Motion Movie Catalog",
    href: "#framer-motion-movie-catalog",
  },
  { label: "JWT Auth and Authz", href: "#jwt-auth-and-authz" },
  { label: "Motion Design for the Web Course", href: "#web-motion-course" },
  {
    label: "Machine Learning Exploration",
    href: "#machine-learning-exploration",
  },
  {
    label: "TensorFlow QnA",
    href: "#react-tensorflow-qna",
  },
  { label: "Algorithm Visualizer", href: "#algorithm-visualizer" },
  { label: "Voice-To-Map Visualization", href: "#voice-to-map-visualization" },
  { label: "E-commerce Store", href: "#ecommerce-store" },
  {
    label: "Handwritten Digit Recognition",
    href: "#handwritten-digit-recognition",
  },
  { label: "AstroJS SSR Blog", href: "#astrojs-ssr-blog" },
  { label: "Book List GraphQL App", href: "#book-list-graphql-app" },
  { label: "Zustand Item List Demo", href: "#zustand-item-list-app" },
  {
    label: "Infinite Scroll Product Item List",
    href: "#infinite-scroll-item-list",
  },
  { label: "React-Admin Dashboard", href: "#react-admin-dashboard" },
  { label: "RTK Query Stock Demo", href: "#rtk-query-stock-app" },
  {
    label: "Curated List Of Latest Trends",
    href: "#curated-list-of-latest-trends",
  },
  { label: "Pairs and Tens Game", href: "#pairs-and-tens-game" },
];
---

<nav id="navmenu" class="navmenu">
  <ul>
    <li><a href="#hero" class="active">Home</a></li>
    <li>
      <a href="https://github.com/GrishaAngelovGH" target="_blank">GitHub </a>
    </li>
    <li class="dropdown">
      <a href="#">
        <span>Projects ({menuItems.length})</span>
        <i class="bi bi-chevron-down toggle-dropdown"></i>
      </a>
      <ul>
        {
          menuItems.map((v) => (
            <li>
              <a href={v.href}>{v.label}</a>
            </li>
          ))
        }
      </ul>
    </li>
  </ul>
  <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>
